<% layout("/layout/boilerplate") %>

    <body>
        <h3 class="offset-2 "><b><%= data.title %></b></h3>
        <div class="row offset-2">
            <div class="col-8">
                <div class="card">
                    <img src="<%= data.image.url %>" class="card-img-top" alt="listing-img">
                    <div class="card-body">
                        <p>
                            created by
                            <%= data.owner.username %>
                        </p>
                        <p class="card-text">
                            <%= data.description %>
                                <br> &#8377;
                                <%= data.price %>
                                    <br>
                                    <i class="fa-solid fa-location-dot"></i>
                                    <%= data.location %>
                                        <br>
                                        <i class="fa-solid fa-earth-asia"></i>
                                        <%= data.country %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="show-btns">
                <% if(currUser && data.owner._id.equals(currUser._id)){ %>
                    <form action="/listing/edit/<%= data._id %>">
                        <button class="btn btn-danger">edit</button>
                    </form>
                    <form method="post" class="show-delete" action="/listing/<%= data.id %>?_method=DELETE">
                        <button class="btn btn-dark">delete</button>
                    </form>
                    <% } %>

            </div>
        </div>
        <div class="row offset-2">
            <hr>
            <% if(currUser){ %>
                <form method="post" action="/listing/<%= data._id %>/reviews" class="needs-validation" novalidate>
                    <div class="mt-3">
                        <label for="rating" class="form-label">Rating</label>
                        <fieldset class="starability-grow">
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="rating" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>

                    <div class="mt-3">
                        <label for="comment" class="form-label">Comment</label>
                        <textarea name="comment" id="comment" rows="4" cols="30" class="form-control" required></textarea>
                        <div class="invalid-feedback">
                            some text required
                        </div>
                    </div>
                    <button class="btn btn-outline-dark mt-3 mb-3">submit</button>
                </form>
                <% } %>
                    <hr>
                    <p><b>All Reviews</b></p>
                    <div class="row">
                        <% for(review of data.reviews) {%>
                            <div class="card  col-4 m-3">
                                <div class="card-body">
                                    <h5 class="card-title">@
                                        <%= review.author.username %>
                                    </h5>
                                    <p class="card-text">
                                        <p class="starability-result" data-rating="<%= review.rating %>">
                                        </p>
                                        _star<br>
                                        <%= review.comment %>

                                    </p>
                                    <% if(currUser){ %>
                                        <form method="post" action="/listing/<%= data._id %>/reviews/<%= review._id %>?_method=DELETE">
                                            <button class="btn btn-dark btn-sm">DELETE</button>
                                        </form>
                                        <% } %>

                                </div>
                            </div>
                            <% } %>
                    </div>

        </div>

    </body>